<%- include('sidebar') %>
    <div class="container main-content books-page">

        <h1>Gerenciar Livros</h1>
        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#bookModal">
            <i class="fa-solid fa-plus"></i> Adicionar Livro
        </button>
        <div class="search-box">
            <div class="search-fields mb-3">
                <input type="text" id="searchInputBooks" class="form-control search-field"
                    placeholder="Search by title, author, or ISBN">
                <button id="searchBtnBooks" class="btn btn-secondary"><i class="fa-solid fa-magnifying-glass"></i>
                    Search</button>
            </div>

            <div class="books-render">
                <table class="table" id="booksTable">
                    <thead>
                        <tr>
                            <th scope="col">Título</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Disponibilidade</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        <% if (books.list.length===0) { %>
                            <tr>
                                <td colspan="4" class="text-center">Nenhum livro encontrado.</td>
                            </tr>
                            <% } else { %>
                                <% books.list.forEach(function(book) { %>
                                    <tr class="item">
                                        <td>
                                            <%= book.title %>
                                        </td>
                                        <td>
                                            <%= book.author %>
                                        </td>
                                        <td>
                                            <%= book.category %>
                                        </td>
                                        <td>
                                            <% if(book.disponible){ %>
                                                <span class="btn btn-sm text-light bg-success">Disponível</span>
                                                <% } else { %>
                                                    <span class="btn btn-sm text-light bg-danger">Não disponível</span>
                                                    <% } %>
                                        </td>
                                        <td class="action-buttons">
                                            <button class="btn btn-sm btn-secondary btn-edit editBookBtn"
                                                data-bs-toggle="modal" data-bs-target="#editBookModal"
                                                data-bs-item='<%= JSON.stringify(book) %>'>
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </button>


                                            <button class="btn btn-sm btn-danger btn-delete" data-bs-target="#deleteBookModal" data-bs-toggle="modal"
    data-id="<%= book._id %>" data-title="<%= book.title %>">
    <i class="fa-solid fa-trash"></i>
</button>

                                        </td>
                                    </tr>
                                    <% }); %>
                                        <% } %>
                    </tbody>
                </table>
            </div>

            <div class="pagination-wrapper">
                <div class="items-controller">
                    <label for="rowsPerPage">Itens por página:</label>
                    <select class="form-select" id="rowsPerPage">
                        <option value="10" selected>10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>
                </div>

                <nav aria-label="Page navigation">
                    <ul class="pagination mb-0" id="paginationContainer">
                        <li class="page-item" id="btn-prev">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true"><i class="fa-solid fa-angles-left"></i></span>
                            </a>
                        </li>

                        <div id="page-numbers" style="display: flex;"></div>

                        <li class="page-item" id="btn-next">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true"><i class="fa-solid fa-angles-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            initTablePagination('tableBody', 'rowsPerPage', 'paginationContainer', 'btn-prev', 'btn-next');
            initTableSearch('searchInputBooks', 'searchBtnBooks', 'tableBody');
        });
    </script>
    <script src="/js/actions/books.js"></script>
    <%- include('../partials/footer') %>