<%- include('sidebar') %>
    <div class="container main-content">
        
        <div class="statistics-cards">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Books</h5>
                    <p class="card-text"><%= books.total %></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Users</h5>
                    <p class="card-text"><%= users.total %></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Total Lendings</h5>
                    <p class="card-text"><%= lendings.total %></p>
                </div>
            </div>
        </div>
        <div class="loans-history" id="loansHistoryGraph">
    <h3>Lending History - Last 7 Days</h3>
    <canvas id="loansHistoryChart"></canvas>
</div>

</div>

<%- include('../partials/footer') %>