<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Library - <%= title %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="toast-container"></div>
    <div class="menu">
        <nav class="navbar navbar-d">
            <div class="logo">
                <a class="navbar-brand" href="/">Library</a>
            </div>
            <div class="menu-btn">
                <% if(currentUser) { %>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <%= currentUser.name %>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/dashboard/profile"><i class="fa-solid fa-user"></i> Perfil</a></li>
                            <li><a class="dropdown-item leave" href="/api/auth/logout"><i class="fa-solid fa-right-from-bracket"></i> Sair</a></li>
                        </ul>
                    </div>
                    <% } else { %>
                        <span>Não logado</span>
                        <% } %>
            </div>
        </nav>
    </div>
    <script src="/js/toast.js"></script>
    <script src="/js/complements.js"></script>
    <script src="/js/pagination.js"></script>
    <script src="/js/modal.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/css/dashboard.css">
    <nav class="sidebar">
        <ul>
            <li class="<%= currentPage === 'home' ? 'active' : '' %>"><a href="/dashboard"><i class="fa-solid fa-house"></i> Home</a></li>
            <li class="<%= currentPage === 'books' ? 'active' : '' %>"><a href="/dashboard/books"><i class="fa-solid fa-book"></i> Livros</a></li>
            <li class="<%= currentPage === 'lendings' ? 'active' : '' %>"><a href="/dashboard/lendings"><i class="fa-solid fa-hand-holding-hand"></i> Emprestimos</a>
            </li>

            <li class="dContainer <%= (currentPage === 'users') ? 'active' : '' %>">
                <div class="dToggle">
                    <span><i class="fa-solid fa-users"></i> Usuários</span>

                </div>
                <ul class="dMenu">
                    <li><a class="dropdown-menu-item" href="/dashboard/users/students"><i
                                class="fa-solid fa-user-graduate"></i> Alunos</a></li>
                    <li><a class="dropdown-menu-item" href="/dashboard/users/teachers"><i
                                class="fa-solid fa-chalkboard-teacher"></i> Professores</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <%- include('modal') %>