<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Library - <%= title %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="menu">
        <nav class="navbar">
            <div class="logo">
                <a class="navbar-brand" href="/">Library</a>
            </div>
            <div class="menu-btn">
                <button class="btn btn-secondary" type="button"><%= currentUser.name %></button>
            </div>
        </nav>
    </div>

    <div class="container">
        <h1 class="mt-4">Welcome, <%= currentUser.name %>!</h1>
        <p class="lead">This is your student dashboard.</p>

        <h2 class="mt-5">Your Lending History</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Book Title</th>
                    <th>Lending Date</th>
                    <th>Return Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <% if(loadInformations.lending.length === 0) { %>
                    <tr>
                        <td colspan="4" class="text-center">You have no lending history.</td>
                    </tr>
                <% } else { %>
                <% loadInformations.lending.list.forEach(function(lending) { %>
                    <tr>
                        <td><%= lending.book.title %></td>
                        <td><%= lending.lendingDate.toDateString() %></td>
                        <td><%= lending.returnDate ? lending.returnDate.toDateString() : 'Not returned yet' %></td>
                        <td><%= lending.returned ? 'Returned' : 'On Loan' %></td>
                    </tr>
                <% }); %>
                <% } %>
            </tbody>
    </div>
    <script src="/js/toast.js"></script>